:root {
    --mainColor:#10cab7;
    --secondColor:#2c4755;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Jomhuria', cursive;
    font-family: 'Work Sans', sans-serif;
}
.container {
    margin: auto;
}
/*Xsmall*/
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin:-20px ;
    }
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }
    .about-content {
        flex-direction: column;
    }
}
/*small*/
@media (min-width:768px) {
    .container {
        width:750px;
    }
}
/*meduim */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/*large*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
@media (max-width:1199px){
    .MyImg {
        display: none;
    }
}
    @media (max-width:991px){
        .about .about-content .img::after,
        .about .about-content .img::before {
            display: none;
        }
        .about .about-content .img {
            margin: 0 auto;
        }
    }
/*start header*/
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 20px;
    margin-bottom: 3px;
    justify-content: flex-end;
}
.header .links .icon span:first-child {
    width: 100%;
    height: 3px;
    background-color: #333;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    height: 3px;
    background-color: #333;
    transition: .3s;
}
.header .links .icon span:last-child {
    width: 100%;
    height: 3px;
    background-color: #333;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links ul::before {
    content: '';
    position: absolute;
    border: transparent solid 10px;
    border-bottom-color: #f6f6f6;
    right: 5px;
    top: -20px;
}
.header .links ul a {
    display: block;
    padding: 15px;    
    text-decoration: none;
    color:#333;
    transition: .3s;
}
.header .links ul a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #f6f6f6;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul {
    display: block;
}

/*end header*/
/*start landing */
.landing {
    background-image: url(../imgs/mountain.jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--mainColor);
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
.features {
    padding-top:60px ;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container {
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--mainColor);
    font-size: 45px;
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.7;
    color: #777777ef;
    font-size: 17px;
}
/*start component*/
.special-heading {
    color:#ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading  + p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #555;
}
/*end component*/
/*start services */
.services {
    padding-top:60px ;
    padding-bottom: 60px;
}
/*end services */
/*start services 2 */
.services .services-content {
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
}
.services .services-content .serv .txt {
    flex: 1;
}
.services .services-content .serv .txt h3 {
    margin: 0 0 20px;
}
.services .services-content .serv .txt p {
    color: #333;
    font-weight: 300;
    line-height: 1.8;
} 
.col .serv i {
    flex-basis: 60px;
    font-size: 25px;
    color: var(--mainColor);
}
.services .services-content .img {
    text-align: center;
    position: relative;
} 
.services .services-content .img::before {
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    top:-50px;
    right: 0;
    z-index: -1;
    background-color: var(--secondColor);
}
/*end services 2 */
/*start portifolio */
.portifolio {
    padding-top:60px ;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portifolio .port-content {
    gap: 30px;
    margin-top: 100px;
}
.portifolio .port-content .card {
    background-color: #f5f5f5;
}
.portifolio .port-content .card h3 {
    margin: 0;
}
.portifolio .port-content img {
    width: 270px;
    height: 200px;
}
.portifolio .port-content p {
    color: #333;
    line-height: 1.7;
    margin-bottom: 0;
}
.port-content input[type=button] {
    padding:5px;
    left:50%;
    font-weight: 600;
    position: absolute;
}

/* end portifolio*/
/*start about*/
.about {
    padding-top: 60px;
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .img {
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .img::before {
    content: '';
    position: absolute;
    background-color:#ddd;
    width: 100px;
    height:280px;
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .img::after {
    content: '';
    position: absolute;
    background-color:transparent;
    z-index: -1;
    width: 90px;
    height: 130px;
    border-bottom: 60px solid var(--secondColor);
    border-left: 60px solid var(--secondColor);
    right: -140px;
    top: -60px;
}
.about .about-content .txt {
    flex-basis: calc(100% - 500px);
}
.about .about-content .txt p:first-of-type {
    font-weight: bold;
    line-height: 1.7;
    margin-bottom: 40px;
}
.about .about-content .txt p:last-of-type {
    font-weight: 300;
    line-height: 1.7;
    color: #777;
}
.about .about-content hr {
    width: 50%;
    display: inline-block;
    border-color: var(--mainColor);
}
/*end about*/
/*start contact*/
.contact {
    padding-top:60px ;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .txt {
    line-height: 1.6;
    padding-top:50px ;
    padding-bottom: 10px;
    text-align: center;
}
.contact .txt .label {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -2px;
    margin-bottom: 15px;
    color: var(--secondColor);
}
.contact .txt .link {
    display:block ;
    font-weight: 800;
    font-size: 30px;
    text-decoration: none;
    color: var(--mainColor);
}
.contact .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    color: var(--secondColor);
}
.contact i {
    font-size: 25px;
    color: var(--secondColor);
    margin-left: 15px;
}
/*end contact*/
.footer {
    color: #fff;
    width: 100%;

    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--secondColor);
    text-align: center;
}
.footer span {
    color: var(--mainColor);
    font-weight: 800;
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
